

body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tetris-parent{
    border: 3px solid grey;
    display: grid;
    grid-template-columns: repeat(10,0fr);
}
.tetris-parent div{
    width: 20px;
    height: 20px;
    border: 2px solid cyan;    
}

.tetromino{
    background: blue;
}