

body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tetris-parent{
    border: 3px solid grey;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
}
.tetris-parent div{
    width: 20px;
    height: 20px;
}

.tetromino{
    background: blue;
}
.blue{
    background: blue;
}
