

body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tetris-parent{
    border: 3px solid grey;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
}
.tetris-parent div{
    width: 20px;
    height: 20px;
}

.tetromino{
    background: blue;
}
.blue{
    background: blue;
}


/* ----------------------------------
Mini grid  
------------------------------------*/
.wrapper{
    display: flex;
    margin-top: 100px;
}
.mini-grid{
    margin: 50px;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    background: orange;
    display: flex;
    flex-wrap: wrap;
}
.mini-grid div{
    width: 20px;
    height: 20px;
}



.button-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-section button{
    height: 100px;
    border: none;
    outline: none;
    font-size: 22px;
    background: #007ACC;
    color: white;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
}